<% if @book.errors.any? %>
<h2>The following errors prevented the book from being saved</h2>
<ul>
  <% @book.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
</ul>
<% end %>
<%= form_with(model: @book,local: true) do |f| %>
<p>
  <%= f.label :name %><br/>
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :pages %><br/>
  <%= f.text_field :pages %>
</p>
<p>
  <%= f.label :cost %><br/>
  <%= f.text_field :cost %>
</p>
<p>
  <%= f.submit %>
</p>
<% end %>
